* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #eee;
}

a {
    text-decoration: none;
}

header {
    display: inline;
}

/* header css */

nav {
    background-color: white;
    color: #111;
    height: 60px;
    width: 100%;
    top: 0;
    position: sticky;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, .14);
    z-index: 9999;
}

nav ul li {
    list-style: none;
    display: inline-block;
    line-height: 60px;
    margin-top: 0;
    padding: 0 15px;
}

nav ul li a {
    color: #111;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

}

.logo {
    font-size: 25px;
    font-weight: bold;
    line-height: 60px;
    margin-left: 150px;
}

nav ul {
    float: right;
    margin-right: 150px;

}

nav ul li a:hover {
    color: #ff5500;
}

.tmblcheck {
    font-size: 25px;
    color: #111;
    float: right;
    line-height: 60px;
    margin-right: 50px;
    cursor: pointer;
    display: none;
}

#tombol {
    display: none;
}

/* css konten */
main {
    display: flex;
    margin: 40px 150px 0;
}

article,.bg-side {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, .14);
}

.utama {
    flex: 4;
    margin-right: 20px;
}

.side {
    flex: 2;
    margin-left: 20px;
    text-align: center;
}

article {
    background-color: white;
    margin-bottom: 30px;
}

.bg-side {
    background-color: white;
}

aside {
    margin-bottom: 30px;
}

.gambar {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.isi {
    padding: 30px;
}

.isi p{
    padding: 10px 0;
}

/* sidebar */
.bg-profil{
    width: 100%;
    max-height: 150px;
    object-fit: cover;
}

.profil {
    transform: translateY(-54px);
    margin: 0 30px;
}

.foto {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.deskripsi {
    margin-bottom: 30px;
}

.deskripsi span {
    font-size: 13px;
    color: #666;
}
.pesan{
    font-weight: 500;
    display: block;
    padding: 10px;
    border-radius: 20px; 
    background-color: #ff5500;
    box-shadow: 0 4px 8px 0 rgba(255, 85, 0, 0.3);
}

.pesan a {
    color: white;
}


.media-sosial ul{
    margin-top: 30px ;
}

/*
.media-sosial ul li{
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 35px;
    margin: 0 5px;
    color: white;
    background-color: #0082e6;
    list-style: none;
    display: inline-block;
    cursor: pointer;
}
*/

.media-sosial ul li {
    display: inline-block;
}

.media-sosial ul li i {
    width: 35px;
    height: 35px;
    
    line-height: 35px;
    margin: 0 5px;
    border-radius: 35px;
    cursor: pointer;
}

.fa-facebook-f {
    border: 2px solid #3b5999;
    color: #3b5999;
}

.fa-twitter {
    border: 2px solid #55acee;
    color: #55acee;
}

.fa-pinterest {
    border: 2px solid #bd081c;
    color: #bd081c;
}

.fa-linkedin {
    border: 2px solid #0077b5;
    color: #0077b5;
}






/* css footer */
/* tombol scroll */
.tombol-atas {
    width: 80px;
    height: 80px;
    background-color: #111;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    border: 20px solid white;
}

.tombol-atas a {
    color: white;
    line-height: 40px;
}

.tombol-atas, .copy {
    transform: translateY(-40px);
}

footer hr {
    border-top: 1px solid #e8e8e8;
}

footer {
    text-align: center;
    color: #111;
    background-color: white;
    padding: 60px 150px 0;
    margin-top: 0;
}



.bawah a:visited {
    color: #111;
}

.bawah a:hover {
    color: #ff5500;
}

@media (max-width: 1200px) {
    .logo {
        margin-left: 75px;
    }

    nav ul {
        margin-right: 75px;
    }

    main {
        margin: 20px 75px;
    }

    footer {
        padding: 60px 75px 0;
    }
}

@media (max-width: 1024px) {
    .logo {
        font-size: 25px;
        margin-left: 50px;
    }

    nav ul {
        margin-right: 50px;
    }

    main {
        margin: 20px 50px;
    }

    .utama {
        margin-right: 10px;
    }

    .side {
        margin-left: 10px;
    }

    /* footer */
    footer {
        padding: 60px 50px 0;
    }

}


@media (max-width: 766px) {
    .tmblcheck {
        display: block;
    }

    .silang {
        display: none;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top:  60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 20px 0;
    }

    nav ul li a:hover {
        background: none;
        color: #0082e6;
    }

    #tombol:checked ~ ul {
        left: 0;
    }

    #tombol:checked ~ .hamburger {
        display: none;
    }

    #tombol:checked ~ .silang {
        display: block;
    }

    a:active ~ ul {
        left: 100%;
    }
    /* css konten */
    main {
        margin: 20px 50px;
        flex-direction: column;
    }

    .konten {
        margin: 0;
    }

    /* footer */
    footer {
        padding: 60px 50px 0;
    }

}
